.contact {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 3fr 25px 1fr;
        aside {
            grid-column: 1;
            font-size:10px !important;
        }
        .content {
            grid-column: 3;
            footer {
                margin-top:3rem;
                text-align: left
            }
        
        }
    }
}